name: presubmit

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  # Job 1: Build Plugin
  build-plugin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Use the latest stable version of actions/checkout

      - name: Set up JDK
        uses: actions/setup-java@v4 # https://github.com/marketplace/actions/setup-java-jdk
        with:
          distribution: 'temurin' # Recommended distribution
          java-version: '21' # Match version in build.gradle.kts
          cache: 'gradle' # Cache Gradle dependencies

      - name: Build Plugin Action
        run: ./gradlew buildPlugin
        working-directory: third_party

  # Job 2: Verify Plugin
  verify-plugin:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Use the latest stable version of actions/checkout

      - name: Set up JDK
        uses: actions/setup-java@v4 # https://github.com/marketplace/actions/setup-java-jdk
        with:
          distribution: 'temurin' # Recommended distribution
          java-version: '21' # Match version in build.gradle.kts
          cache: 'gradle' # Cache Gradle dependencies

      - name: Verify Plugin Actions
        run: |
          ./gradlew verifyPlugin
          ./gradlew verifyPluginProjectConfiguration
          ./gradlew verifyPluginSignature
          ./gradlew verifyPluginStructure
        working-directory: third_party
